.Aqi-container {
    margin-top: 55px;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aqi-card {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aqua;
    height: 60vh;
    width: 130px;
}
.Aqi-card:hover,.Aqi-card-bottom:hover{
    transform: scale(1.05);
}
.today {
    width: 400px;
    text-align: center;
}

.container-bottom {
    width: 100vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Aqi-card-bottom {
    border-radius: 10px;
    background-color: aqua;
    height: 18vh;
    width: 400px;
    margin-left: 25px;
    margin-right: 25px;
}

/* .bar {
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 100%);
    width: 1305px;
    height: 10px;
    margin-left: 78px;
    padding-right: auto;
    margin-top: 50px;
} */