
.card {
  display: flex;
  flex-direction: column;
}


.card-content {
  margin-top: 10px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
}

.card-description {
  font-size: 1rem;
  color: #666;
}
.card-image {
  display: block;
}
.card-value{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

