.temp-card {
  width: 300px;
  height: 400px;
  background-color: #1C1B1F80;
  border: 1px solid #ccc;
  border-radius: 14px;
  margin: 5px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.temp-condition {

  font-size: 14px;
  margin: 10px;
}

.temp-temp {
  font-size: 32px;
  font-weight: bold;
}

.temp-date {
  font-size: 24px;
  margin-top: 20px;
}

.temp-day {
  font-size: 20px;
  margin-bottom: 10px;
}

.temp-humidity {
  font-size: 24px;
  margin-top: 10px;
}

.temp-card:hover {
  transform: scale(1.03);
}
.day0 {
  width: 100%;
}

.day1 {
  width: 100%;

}

.day0-card-style {
  width: 300px;
}
.day1-card-style {
  width: 150px;
}

@media (max-width: 768px) {
  .temp-card {
   width: 100%;
   height: auto;
  }
  .day0 {
    width: 100%;
  }

  .day1 {
    width: 20%;
    height: 100%;
    position: relative;
    left:0px;

  }

  .day0-card-style {
    width: 100%;
  }

  .day1-card-style {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 1%;
  }
  .temp-condition {

    font-size: 10px;
    margin: 10px;
  }
  
  .temp-temp {
    font-size: 20px;
    font-weight: bold;
  }
  
  .temp-date {
    font-size: 10px;
    /* margin-top: 20px; */
  }
  
  .temp-day {
    font-size: 10px;
    /* margin-bottom: 10px; */
  }
  
  .temp-humidity {
    font-size: 20px;
    /* margin-top: 10px; */
  }
}