.shadergradient-blue {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 1440px;
  height: 1024px;
}
.rectangle-icon {
  position: absolute;
  top: 291.8px;
  left: -124.78px;
  width: 2028.6px;
  height: 1278.6px;
  object-fit: contain;
  display: none;
}
.rectangle-icon1 {
  position: absolute;
  top: -427.23px;
  left: -314.85px;
  width: 1533.6px;
  height: 994.8px;
  object-fit: contain;
  display: none;
}
.rectangle-icon2 {
  position: absolute;
  top: -89.6px;
  left: -305.05px;
  width: 1953.5px;
  height: 1143.8px;
  object-fit: contain;
  display: none;
}
.mesh-gradient-child {
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(300px);
  background-color: rgba(0, 0, 0, 0.2);
  width: 1440px;
  height: 1024px;
}
.mesh-gradient {
  position: absolute;
  top: 0px;
  left: 0.03px;
  width: 1440px;
  height: 1024px;
}
.margin {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 1280px;
  height: 880px;
}
.insight-hover-child {
  position: absolute;
  top: -1px;
  left: -1px;
  box-shadow: -5px 5px 10px rgba(28, 27, 31, 0.25) inset;
  border-radius: 13.95px;
  background-color: #fff;
  border: 2px solid #1c1b1f;
  box-sizing: border-box;
  width: 149.9px;
  height: 370.3px;
}
.insight-hover-item {
  position: absolute;
  top: 208.28px;
  left: 78.48px;
  width: 30px;
  height: 0px;
}
.click {
  margin: 0;
}
.click-to-know-container {
  position: absolute;
  top: 146.64px;
  left: 37.48px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.insight-hover {
  position: absolute;
  top: 255.82px;
  left: 152.45px;
  width: 147.9px;
  height: 368.3px;
  opacity: 0;
  color: #1c1b1f;
}
.partly-cloudy {
  position: absolute;
  top: 216.46px;
  left: calc(50% - 61px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.div {
  position: absolute;
  right: 5.5px;
  bottom: 19.9px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.today {
  position: absolute;
  right: 0px;
  bottom: -0.03px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.parent {
  position: absolute;
  right: 22.18px;
  bottom: 23.5px;
  width: 47px;
  height: 33.9px;
  font-size: 14px;
}
.weather {
  position: absolute;
  top: 15.82px;
  left: 15.96px;
  font-size: 20px;
  line-height: 13.95px;
  text-transform: uppercase;
  text-align: left;
}
.partly-cloudy-icon {
  position: absolute;
  top: 79.82px;
  left: calc(50% - 56.4px);
  width: 112.8px;
  height: 112.8px;
}
.div1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  line-height: 13.95px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 58px;
  height: 73.2px;
}
.group-child {
  position: absolute;
  bottom: 55.42px;
  left: 42.07px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 9.2px;
  height: 9.2px;
}
.group {
  position: absolute;
  bottom: 9.88px;
  left: 27.59px;
  width: 58px;
  height: 73.2px;
  text-align: left;
  font-size: 68px;
  font-family: HighriseDemo;
}
.rain-cloud-icon {
  position: absolute;
  height: 20.81%;
  width: 34.08%;
  top: 47.21%;
  right: 78.97%;
  bottom: 31.98%;
  left: -13.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.emergency-heat-icon {
  position: absolute;
  height: 17.77%;
  width: 29.16%;
  top: 47.21%;
  right: -10.13%;
  bottom: 35.03%;
  left: 80.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.insight {
  position: absolute;
  top: 240px;
  left: 136.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 262px;
  height: 394px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}
.satisfactory {
  position: absolute;
  top: 156.46px;
  left: calc(50% - 49px);
  line-height: 13.95px;
  text-transform: uppercase;
  text-align: center;
}
.fresh-aqi-icon {
  position: absolute;
  height: 31.25%;
  width: 36.45%;
  top: 15.09%;
  right: 31.78%;
  bottom: 53.66%;
  left: 31.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2 {
  position: absolute;
  top: calc(50% - 36.6px);
  left: calc(50% - 28.7px);
  line-height: 13.95px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 57.4px;
  height: 73.2px;
}
.wrapper {
  position: absolute;
  top: calc(50% + 56.92px);
  left: calc(50% - 30.28px);
  width: 57.4px;
  height: 73.2px;
  font-size: 68px;
  font-family: HighriseDemo;
}
.aqi1 {
  position: absolute;
  top: 15.82px;
  left: calc(50% - 104.04px);
  font-size: 20px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.aqi {
  position: absolute;
  top: 657px;
  left: 136.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 262px;
  height: 280px;
}
.tue {
  position: relative;
  line-height: 13.95px;
  text-transform: uppercase;
  opacity: 0.5;
}
.mon {
  position: relative;
  line-height: 13.95px;
  text-transform: uppercase;
  color: #fff;
}
.tue-parent {
  position: absolute;
  right: 25px;
  bottom: 12px;
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #1c1b1f;
}
.wind-speed-child {
  position: absolute;
  top: calc(50% + 30.53px);
  right: 24.37px;
  width: 339.1px;
  height: 64.2px;
}
.div3 {
  position: relative;
  line-height: 13.95px;
  text-transform: uppercase;
}
.ms {
  position: relative;
  line-height: 13.95px;
  text-transform: lowercase;
}
.container {
  position: absolute;
  top: calc(50% - 88.33px);
  left: 11.5px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  font-size: 7.42px;
}
.wind-speed-item {
  position: absolute;
  top: 51.67px;
  left: 34.5px;
  max-width: 100%;
  overflow: hidden;
  height: 180px;
}
.ms1 {
  position: absolute;
  top: 36.32px;
  right: -0.05px;
  line-height: 13.95px;
  text-transform: lowercase;
}
.icon {
  position: absolute;
  top: 0px;
  right: 31.9px;
  width: 24.6px;
  height: 47.5px;
}
.air-icon {
  position: absolute;
  top: 2.15px;
  right: 4.95px;
  width: 20px;
  height: 19px;
}
.ms-parent {
  position: absolute;
  top: 16.03px;
  right: 15.81px;
  width: 56.5px;
  height: 50.3px;
  text-align: left;
}
.ms2 {
  position: absolute;
  right: 0px;
  bottom: 44.8px;
  line-height: 13.95px;
  text-transform: lowercase;
  display: inline-block;
  width: 60.8px;
}
.group-item {
  position: absolute;
  right: 17.4px;
  bottom: -0.52px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #5a7792;
  box-sizing: border-box;
  width: 9px;
  height: 9px;
}
.group-inner {
  position: absolute;
  right: 19.9px;
  bottom: 11.72px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.ms-group {
  position: absolute;
  right: 34.77px;
  bottom: 68.05px;
  width: 60.8px;
  height: 58.8px;
  font-size: 16px;
}
.wind-speed {
  position: absolute;
  top: 240px;
  left: 420.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background: linear-gradient(-24.64deg, rgba(190, 214, 234, 0.5), rgba(99, 128, 141, 0.5));
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 436px;
  height: 280px;
  text-align: center;
}
.humidity1 {
  position: absolute;
  top: 15.82px;
  left: 15.96px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.unit-icon {
  position: absolute;
  top: 15.44px;
  right: 22.18px;
  width: 54.9px;
  height: 48.5px;
}
.very-humid-icon {
  position: absolute;
  top: calc(50% - 63.5px);
  left: calc(50% - 64.5px);
  width: 130px;
  height: 127px;
}
.very-humid {
  position: absolute;
  bottom: 15.75px;
  left: 15.96px;
  font-size: 14px;
  line-height: 13.95px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.humidity {
  position: absolute;
  top: 540px;
  left: 420.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 357px;
  height: 200px;
  font-size: 20px;
}
.jun-01-parent {
  position: absolute;
  bottom: 0.03px;
  left: calc(50% - 179.54px);
  width: 359.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.span {
  text-transform: uppercase;
}
.lux2 {
  text-transform: lowercase;
}
.lux1 {
  position: relative;
  line-height: 13.95px;
}
.lux-parent {
  position: absolute;
  bottom: 132.4px;
  left: calc(50% - 185.5px);
  width: 371px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 12px;
}
.frame-parent {
  position: absolute;
  bottom: 11.6px;
  left: calc(50% - 190px);
  width: 371px;
  height: 146.4px;
  text-align: center;
}
.visibility1 {
  position: absolute;
  top: 15.82px;
  left: calc(50% - 202.04px);
  font-size: 20px;
  line-height: 13.95px;
  text-transform: uppercase;
  display: inline-block;
  width: 108.8px;
}
.lux7 {
  position: absolute;
  top: 36.53px;
  left: calc(50% - 0.32px);
  line-height: 13.95px;
  text-transform: lowercase;
  display: inline-block;
  width: 22.2px;
}
.icon1 {
  position: absolute;
  top: 0px;
  right: 27.5px;
  width: 16.3px;
  height: 47.5px;
}
.visibility-icon {
  position: absolute;
  width: 49.77%;
  top: 1.88px;
  right: 2.34%;
  left: 47.89%;
  max-width: 100%;
  overflow: hidden;
  height: 15px;
}
.lux-group {
  position: absolute;
  top: 16.3px;
  left: calc(50% + 145px);
  width: 43.8px;
  height: 50.5px;
}
.line-values-icon {
  position: absolute;
  bottom: 39.64px;
  left: calc(50% - 195.36px);
  width: 384.2px;
  height: 93.2px;
}
.visibility {
  position: absolute;
  top: 240px;
  left: 879.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(166, 120, 242, 0.5), rgba(173, 99, 247, 0.38) 39.08%, rgba(186, 77, 253, 0.25) 80.23%);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 436px;
  height: 280px;
}
.atm1 {
  position: absolute;
  top: 15.82px;
  left: calc(50% - 130.54px);
  font-size: 20px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.longitude {
  position: absolute;
  bottom: 30.2px;
  left: calc(50% - 125.25px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.o-17-n-container {
  position: absolute;
  bottom: 30.2px;
  left: calc(50% + 65.25px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.o-08-e-container {
  position: absolute;
  bottom: 0.02px;
  left: calc(50% + 65.26px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.latitude {
  position: absolute;
  bottom: 0.02px;
  left: calc(50% - 125.25px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.longitude-parent {
  position: absolute;
  bottom: 30.62px;
  left: calc(50% - 130.54px);
  width: 250.5px;
  height: 44.2px;
}
.north-east {
  position: absolute;
  top: 15.82px;
  left: calc(50% + 38.46px);
  line-height: 13.95px;
  text-transform: uppercase;
  text-align: right;
}
.pa1 {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% + 22.22px);
  line-height: 13.95px;
  text-transform: capitalize;
}
.div9 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 40.2px);
  font-size: 60px;
  line-height: 13.95px;
  text-transform: uppercase;
  font-family: HighriseDemo;
  background: linear-gradient(133.9deg, #ff9101, #ffd45e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  display: inline-block;
  width: 55.4px;
  height: 14px;
}
.pa {
  position: absolute;
  top: calc(50% + 21.29px);
  left: calc(50% - 33.42px);
  width: 80.4px;
  height: 24px;
}
.atm-6-icon {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
}
.pa-parent {
  position: absolute;
  top: calc(50% - 129.5px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 16px;
}
.atm {
  position: absolute;
  top: 540px;
  left: 806.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 319px;
  height: 397px;
}
.uv-index1 {
  position: absolute;
  top: 15.82px;
  left: 15.96px;
  line-height: 13.95px;
  text-transform: uppercase;
  text-align: left;
}
.uv {
  position: absolute;
  bottom: 0px;
  left: calc(50% + 17.34px);
  line-height: 13.95px;
  text-transform: capitalize;
}
.div10 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 46.3px);
  font-size: 48px;
  line-height: 13.95px;
  text-transform: uppercase;
  font-family: HighriseDemo;
  text-align: right;
  display: inline-block;
  width: 54.8px;
  height: 13px;
}
.uv-unit {
  position: absolute;
  bottom: 9.86px;
  left: calc(50% - 80.5px);
  width: 92.6px;
  height: 22px;
}
.vector-icon {
  position: absolute;
  top: 52.7px;
  left: 75.96px;
  width: 26.2px;
  height: 288.1px;
}
.mon1 {
  position: absolute;
  top: 74.19px;
  left: 27.96px;
  font-size: 16px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.tue-group {
  position: absolute;
  top: 124.19px;
  left: 36.96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
  font-size: 14px;
}
.uv-parent {
  position: absolute;
  top: 122.06px;
  left: 105.65px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
  font-size: 12px;
}
.uv-index {
  position: absolute;
  top: 540px;
  left: 1139.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 177px;
  height: 397px;
  text-align: center;
  font-size: 20px;
}
.rain-meter-child {
  position: absolute;
  top: 62.1px;
  left: 80.62px;
  width: 77.4px;
  height: 77.7px;
}
.max {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 15px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.cm {
  position: absolute;
  top: 19px;
  left: 2px;
  line-height: 13.95px;
  text-transform: lowercase;
}
.june-5 {
  position: absolute;
  top: 38px;
  left: calc(50% - 24px);
  line-height: 13.95px;
  text-transform: uppercase;
}
.max-parent {
  position: absolute;
  top: 116.24px;
  left: 16.5px;
  width: 48px;
  height: 52px;
}
.avg {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.cm1 {
  position: absolute;
  top: 19px;
  left: 0px;
  font-size: 14px;
  line-height: 13.95px;
  text-transform: lowercase;
}
.rain-unit {
  width: 33px;
  position: relative;
  height: 33px;
}
.rain-unit1 {
  width: 48px;
  position: relative;
  height: 33px;
}
.rain-unit-parent {
  position: absolute;
  top: 116.24px;
  left: 187.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45px;
  font-size: 15px;
}
.rain-meter1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 13.95px;
  text-transform: uppercase;
  display: inline-block;
  width: 126px;
}
.cm3 {
  position: absolute;
  top: 13px;
  left: 31.5px;
  line-height: 13.95px;
  text-transform: lowercase;
  display: inline-block;
  width: 27.2px;
}
.div11 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 60px;
  line-height: 13.95px;
  text-transform: uppercase;
  font-family: HighriseDemo;
  text-align: right;
  display: inline-block;
  width: 24.3px;
}
.unit {
  position: absolute;
  top: 15.96px;
  left: 261.3px;
  width: 58.7px;
  height: 27px;
  font-size: 14px;
}
.rain-meter-parent {
  position: absolute;
  top: 15.2px;
  left: 15.96px;
  width: 320px;
  height: 43px;
  font-size: 20px;
}
.rain-meter {
  position: absolute;
  top: 755px;
  left: 420.45px;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 13.95px;
  background-color: rgba(28, 27, 31, 0.5);
  border: 1px solid #f0faff;
  box-sizing: border-box;
  width: 357px;
  height: 182px;
}
.location-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
  background: linear-gradient(247.6deg, #d3e9fc, #a2cee1 73.54%);
  width: 565.9px;
  height: 50.5px;
}
.jai-shree-pariwal {
  position: absolute;
  top: 8.77px;
  left: 70.3px;
  text-transform: uppercase;
  display: inline-block;
  width: 589.2px;
}
.distance-icon {
  position: absolute;
  height: 71.88%;
  width: 3.85%;
  top: 13.5%;
  right: 92.82%;
  bottom: 14.62%;
  left: 3.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location {
  position: absolute;
  top: 46.56px;
  left: 186.45px;
  width: 659.4px;
  height: 50.5px;
  font-size: 24px;
  color: #1c1b1f;
  font-family: 'Adobe Clean';
}
.frame-div {
  position: absolute;
  top: 155.61px;
  left: 1055.45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;
  font-size: 20px;
}
.page-11-child {
  position: absolute;
  top: 46.56px;
  left: 55.45px;
  width: 50px;
  height: 50px;
}
.overview {
  position: absolute;
  top: 156.61px;
  left: 135.94px;
  font-size: 20px;
  line-height: 13.95px;
  text-transform: uppercase;
}
.page-11-item {
  position: absolute;
  top: 181.09px;
  left: 136.45px;
  max-height: 100%;
  width: 294.2px;
  object-fit: contain;
}
.vector-icon1 {
  position: absolute;
  top: 42.84px;
  left: 992.61px;
  width: 341.3px;
  height: 51.3px;
}
.page-11 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: 'Avenir LT Std';
}

